<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>TDI 12-Day MileStone Project (wcheung)</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
	<center>
		<form method="POST" action="/prices">
			<h1><b>Plotting Interface for Closing Prices of Stock Ticker</b></h1>
			<h3>Please enter a stock ticker in the box below (eg. GOOG).</h3>
			Ticker Symbol: <input type ="text" name="tsymbol">
		<input type="submit">
	</center>
	</body>
</html>
