<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>wcheung MileStone Project</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<form method="POST" action="/prices">
			Ticker Symbol: <input type ="text" name="tsymbol">
			<input type="checkbox" name='features' value='Opened'>Opening price<br>
			<input type="checkbox" name='features' value='Closed'>Closing price<br>
			<input type="checkbox" name='features' value='Adj. Opened'>Adjusted opening price<br>
			<input type="checkbox" name='features' value='Adj. Closed'>Adjusted closing price<br>
			<input type="submit" value="Submit">

			<input type="submit">
	</body>
</html>
